body {
margin: 0px;
font-style: normal;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
font-weight: lighter;
}

.container {
  width: 100%;
}

/**StatusLeft**/
.status-left {
  display: inline-block;
  margin: 5px;
}
/**StatusRight**/
.status-right {
  display: inline-block;
  margin: 5px;
  float: right;
}
.status-right h2 {
  display: inline-block;
  font-size: 12px;
}
/**Time**/
.time {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin-left: 28%;
}
/**TopBar**/
.top {
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
}
.fa-chevron-left {
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  color: #3C9ED7;
}
.top h1 {
  display: inline-block;
  margin-left: 85px;
  margin-bottom: 15px;
}

/*Map*/
.map {
  margin-left: -2px;
}
/**Map**/
map {
width:100%;
}

/*Table*/

.table {
  height: 315px;
  width: 100%;
  overflow-y: scroll;
  background-color: none;
}
.row {
  width:100%;
  list-style: none;
  display: inline-block;
}

.direction h1 {
  display: inline-block;
  font-weight: bold;
  width: 95%;
  background-color: #3C9ED7;
  padding: 10px;
  color: white;
}

.line {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.destination {
  display: inline-block;
font-size: 14px;

}

.frequency {
  display: inline-block;
  float:right;
  font-size: 12px;
  margin-right: 15px;
  margin-top: 15px;
  color: green;
  font-weight: bold;
}

.frequency h2 {
  color: red;
}
.frequency h3 {
  color: grey;
}

/*Out Of Service*/
.OOS {
  color: grey;
}
/**icon nav bar**/
.footer {
  width: 100%;
  height:70px;
  background-color: #F8F8F8;
  overflow: auto;
}
.alert, .favorite, .tickets {
  float: left;
  text-align: center;
  width: 25%;
  padding: 12px 0;
  color: #A1A1A1;
}
.footer h2 {
  font-size: 10px;
}
.home {
  float: left;
  text-align: center;
  width: 25%;
  padding: 12px 0;
  color: red;
}
