body {
margin: 2px;
font-style: normal;
font-family: sans-serif;
}

/**Wifi**/
.status-left {
  margin: 1px;
  float: left;
  position: absolute;
    top:5px;
    left:10px;
}
/**Battery Icon**/
.status-right {
  margin: 1px
  float: right;
  position:absolute;
    top:6px;
    right: 10px;
}
/**100%**/
.percent {
  font-size: 10px;
  float: right;
  position: absolute;
    top:-6px;
    right: 35px;

}
/**time**/
.time {
  font-size: 12px;
  position: absolute;
    left:150px;
    top:-5px;
}
/**street name and top container**/
.top {
  margin-top: 30px;
  margin-bottom: 90px;
  background-color: blue;
}
/**back button**/
.back {
  padding: 4px;
  float: left;
  color: #157EFB;
  position: absolute;
    top:40px;
    left:15px;
}
/**street name**/
.street {
  font-size: 10px;
  position: absolute;
  left: 100px;
  top: 40px;
}
/**Map**/
map {


}
/** Expander Bar **/
.expanderBar {
  margin: 0px;
  padding-bottom: 40px;
  background-color: #359DD9;
}
.down {
  margin: 5px;
  color: white;
  position: absolute;
    left: 170px;
}
/**Bus Table**/
.table{
  display: block;
  width: 100%;
}
/**121 bus**/
.one h3 {
  font-size: 15px;
  color: green;
  position: absolute;
    left: 110px;
    top: 542px;
}
.one h4 {
  font-size: 15px;
  color: silver;
  margin-top: -15px;
}
.one h5 {
  color: silver;
  position: absolute;
    right: 20px;
    top: 555px;
}
/**111 bus**/
.two { /**why doesn't this work?**/
  border: black;
  border-bottom: thick;
}
.two h3 {
  font-size: 15px;
  color: green;
  position: absolute;
    left: 110px;
    top: 614px;
}
.two h4 {
  font-size: 15px;
  color: silver;
  margin-top: -15px;
}
.two h5 {
  color: silver;
  position: absolute;
    right: 20px;
    top: 622px;
}
/**32 bus**/
.three h3 {
  font-size: 15px;
  color: green;
  position: absolute;
    left: 110px;
    top: 682px;
}
.three h4 {
  font-size: 15px;
  color: silver;
  margin-top: -15px;
}
.three h5 {
  color: silver;
  position: absolute;
    right: 20px;
    top: 690px;
}
/**54 bus**/
.four h3 {
  font-size: 15px;
  color: green;
  position: absolute;
    left: 110px;
    top: 750px;
}
.four h4 {
  font-size: 15px;
  color: silver;
  margin-top: -15px;
}
.four h5 {
  color: silver;
  position: absolute;
    right: 20px;
    top: 755px;
}
/**112 bus**/
.five h3 {
  font-size: 15px;
  color: red;
  position: absolute;
    left: 110px;
    top: 820px;
}
.five h4 {
  font-size: 15px;
  color: silver;
  margin-top: -15px;
}
.five h5 {
  color: silver;
  position: absolute;
    right: 20px;
    top: 825px;
}

/**icon nav bar**/
.bottom-nav {
  width: 100%;
  background-color: #F8F8F8;
  overflow: auto;
}
.alert, .favorite, .tickets {
  float: left;
  text-align: center;
  width: 25%;
  padding: 12px 0;
  color: #A1A1A1;
}
.bottom-nav h2 {
  font-size: 10px;
}
.home {
  float: left;
  text-align: center;
  width: 25%;
  padding: 12px 0;
  color: red;
}
